node_modules
build
VVV Contributor Day Setup-darwin-x64/
VVV Contributor Day Setup-linux-ia32/
VVV Contributor Day Setup-linux-x64/
VVV Contributor Day Setup-mas-x64/
VVV Contributor Day Setup-win32-ia32/
VVV Contributor Day Setup-win32-x64/
.DS_Store